@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,500,700,800,900');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
:root {
    --back: #355463;
    --carmaincolor: #3f4c54;
    --carbacklight: #fc3c25;
    --carsecondcolor: #475b66;
    --carthirdcolor: #344650;
    --taximaincolor: #f4b603;
    --taxisecondcolor: #fdd206;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--back);
    overflow: hidden;
}
.road
{
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;    
    transform: rotate(-15deg);
}
/*
.road::before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg, #fff, #fff 50%, transparent 50%, transparent 100%);
    background-size: 50px;
    animation: animate_road 0.125s linear infinite;    

    box-shadow: 0 180px #fff, 0 -180px #fff;
}*/

@keyframes animate_road
{
    0%
    {
        background-position: 50px 0;
    }
    100%
    {
        background-position: 0px 0;        
    }

}

.road_stroke_line
{
    content: '';
    position: absolute;    
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg, #fff, #fff 50%, transparent 50%, transparent 100%);
    background-size: 50px;
    animation: animate_road 0.125s linear infinite;    

    /*box-shadow: 0 180px #fff, 0 -180px #fff;*/
}

.road_stroke_line:nth-child(2)
{    
    top: -150px;       
}

.road_stroke_line:nth-child(3)
{    
    top: 150px;       
    box-shadow: 0 10px #fff, 0 -310px #fff;
}

.police_car
{
    position: absolute;
    left: 50px;
    width: 200px;
    height: 80px;
    background-color: var(--carmaincolor);
    border-radius: 10px;
    box-shadow: -10px 10px rgba(0,0,0,0.05);
    transform-style: preserve-3d;
    perspective: 800px;
    z-index: 10;
    animation: animate_police_car 5s linear infinite;
}

.police_car:nth-child(4)
{    
    left: 350px;
    animation-delay: -2.5s;
}


@keyframes animate_police_car
{
    0%
    {
        transform: translateX(20px) translateY(-50px);
    }
    25%
    {
        transform: translateX(-10px) translateY(0px);
    }
    50%
    {
        transform: translateX(20px) translateY(50px);
    }
    75%
    {
        transform: translateX(-10px) translateY(0px);
    }
    100%
    {
        transform: translateX(20px) translateY(-50px);
    }
}

.police_car::before
{
    content: '';
    position: absolute;
    top: 12px;
    left: 2px;
    width: 5px;
    height: 15px;
    background: var(--carbacklight);
    border-radius: 2px;
    box-shadow: 0 42px var(--carbacklight);
}

.police_car::after
{
    content: '';
    position: absolute;
    top: 10px;
    right: 2px;
    width: 6px;
    height: 16px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 44px #fff;
}
.police_car span
{
    position: absolute;
    inset: 5px 10px;
    background: var(--carsecondcolor);
    border-radius: 10px;
    overflow: hidden;
}
.police_car span::before
{
    content: '911';
    position: absolute;
    top:50%;
    left: 48%;
    transform: translate(-50%, -50%) rotate(90deg);
    color: #333;
    font-size: 1.15em;
    font-weight: 1000;
    letter-spacing: 0.1em;
    z-index: 10;
}
.police_car span::after
{
    content: '';
    position: absolute;
    top:50%;
    left: 60%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 6px;
    height: 10px;
    background: #29282b;
    box-shadow: 0 -10px #1f5fff, 0 10px #df1b25;
}

.police_car span b
{
    position: absolute;
    inset: 0 30px;
    background: var(--carthirdcolor);
    border-radius: 10px;
}
.police_car span b::before
{
    content: '';
    position: absolute;
    inset: 6px 25px;
    background: #ebebeb;
    border-radius: 5px;

}
.police_car span b::after
{
    content: '';
    position: absolute;
    inset: 0 58px;
    background: #ebebeb;
}
.police_car span i
{
    position: absolute;
    inset: 0;
}
.police_car span i::before
{
    content: '';
    position: absolute;
    top: 7px;
    left: 20px;
    width: 40px;
    height: 5px;
    background: #ebebeb;
    transform-origin: right;
    transform: rotate(15deg);
    box-shadow: 100px 34px #ebebeb;
}
.police_car span i::after
{
    content: '';
    position: absolute;
    bottom: 7px;
    left: 20px;
    width: 40px;
    height: 5px;
    background: #ebebeb;
    transform-origin: right;
    transform: rotate(-15deg);
    box-shadow: 100px -34px #ebebeb;
}
.light_beam
{
    position: absolute;
    top:5px;
    right: -2px;
    width: 10px;
    height: 70px;
    background: #0002;
    border-radius: 15px;
    transform-style: preserve-3d;
}
.light_beam::before
{
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    width: 150px;
    height: 16px;
    background: linear-gradient(90deg, #fff6, transparent);
    transform-origin: left;
    transform: perspective(500px) rotateY(-50deg);
}

.light_beam::after
{
    content: '';
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 150px;
    height: 16px;
    background: linear-gradient(90deg, #fff6, transparent);
    transform-origin: left;
    transform: perspective(500px) rotateY(-50deg);
}

.police_car h4
{
    position: absolute;
    top: 50%;
    left: 0;
    color: #fff;
    text-transform: uppercase;
    z-index: 10;
    transform: translateY(-50%) rotate(90deg) scale(0.7);
}

.police_car h3
{
    position: absolute;
    top: 50%;
    right: -2%;
    color: #fff;
    text-transform: uppercase;
    z-index: 10;
    transform: translateY(-50%) rotate(270deg) scale(0.7);
}
.police_car .side_mirror
{
    position: absolute;
    inset: 0;
}
.police_car .side_mirror::before
{
    content: '';
    position: absolute;
    top:-8px;
    right: 40px;
    width: 5px;
    height: 10px;
    background: #ebebeb;
    border-top-right-radius: 10px;
}
.police_car .side_mirror::after
{
    content: '';
    position: absolute;
    bottom:-8px;
    right: 40px;
    width: 5px;
    height: 10px;
    background: #ebebeb;
    border-bottom-right-radius: 10px;
}
.taxi_car
{
    position: absolute;
    left: 700px;
    width: 200px;
    height: 80px;
    background-color: var(--taximaincolor);
    border-radius: 10px;
    box-shadow: -10px 10px rgba(0,0,0,0.1);
    transform-style: preserve-3d;
    perspective: 800px;
    z-index: 10;
    animation: animate_taxi_car 5s linear infinite;
    animation-delay: -4s;
}
@keyframes animate_taxi_car 
{
    0%
    {
        transform: translateX(20px) translateY(20px);
    }
    25%
    {
        transform: translateX(-50px) translateY(0px);
    }
    50%
    {
        transform: translateX(20px) translateY(-20px);
    }
    75%
    {
        transform: translateX(50px) translateY(0px);
    }
    100%
    {
        transform: translateX(20px) translateY(20px);
    }   
}
.taxi_car::before
{
    content: '';
    position: absolute;
    top: 12px;
    left: 2px;
    width: 5px;
    height: 15px;
    background: var(--carbacklight);
    border-radius: 2px;
    box-shadow: 0 42px var(--carbacklight);
}

.taxi_car::after
{
    content: '';
    position: absolute;
    top: 10px;
    right: 2px;
    width: 6px;
    height: 16px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 44px #fff;
}
.taxi_car span
{
    position: absolute;
    inset: 5px 10px;
    background: var(--taxisecondcolor);
    border-radius: 10px;
    overflow: hidden;
}

.taxi_car span::before
{
    content: 'Taxi';
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    background: #fff;
    padding: 2px;
    font-size: 1.0em;
    font-weight: 1000;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border-radius: 2px;
    box-shadow: 0 0 0 1px #0005;
    z-index: 1000;
}
.taxi_car span b
{
    position: absolute;
    inset: 0 30px;
    background: #111;
    border-radius: 10px;
}
.taxi_car span b::before
{
    content: '';
    position: absolute;
    inset: 6px 25px;
    background: var(--taxisecondcolor);
    border-radius: 5px;

}
.taxi_car span b::after
{
    content: '';
    position: absolute;
    inset: 0 58px;
    background: var(--taxisecondcolor);
}
.taxi_car span i
{
    position: absolute;
    inset: 0;
}
.taxi_car span i::before
{
    content: '';
    position: absolute;
    top: 7px;
    left: 20px;
    width: 40px;
    height: 5px;
    background: var(--taxisecondcolor);
    transform-origin: right;
    transform: rotate(15deg);
    box-shadow: 100px 34px var(--taxisecondcolor);
}
.taxi_car span i::after
{
    content: '';
    position: absolute;
    bottom: 7px;
    left: 20px;
    width: 40px;
    height: 5px;
    background: var(--taxisecondcolor);
    transform-origin: right;
    transform: rotate(-15deg);
    box-shadow: 100px -34px var(--taxisecondcolor);
}
.taxi_car .side_mirror
{
    position: absolute;
    inset: 0;
}
.taxi_car .side_mirror::before
{
    content: '';
    position: absolute;
    top:-8px;
    right: 40px;
    width: 5px;
    height: 10px;
    background: var(--taximaincolor);
    border-top-right-radius: 10px;
}
.taxi_car .side_mirror::after
{
    content: '';
    position: absolute;
    bottom:-8px;
    right: 40px;
    width: 5px;
    height: 10px;
    background: var(--taximaincolor);
    border-bottom-right-radius: 10px;
}